@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    margin: 0;
    background-image: url(imagens/Fundo_site1.0.png);
}

/*cabeçalho e menu*/
header {
    width: 100%;
    height: 30%;
    min-height: 250px;
    background-image: url(imagens/logodosite.jpg);
    background-size: auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: black;
}

.menu>ul {
    list-style: none;
    position: relative;
    margin-left: 50px;
}

.menu ul li {
    width: 150px;
    float: left;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    background-color: black;
    text-align: center;
}

.menu ul ul {
    list-style: none;
    position: absolute;
    visibility: hidden;

}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #363636;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
    background-color: #1C1C1C;
}

#bt_menu {
    display: none;
}

label[for='bt_menu'] {
    padding: 5px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
}

label[for='bt_menu']:hover {
    background-color: #f4f4f4;
    color: #aaa;
}

@media (max-width: 800px) {
    .menu {
        margin-left: -100%;
        transition: all .4s;
    }

    label[for='bt_menu'] {
        display: block;
    }

    .menu>ul {
        margin-left: 0;
    }

    .menu {
        margin-top: 5px;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }

    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
        transition: all .4s;
    }

    #bt_menu:checked~.menu {
        margin-left: 0;
    }
}

/*corpo da página*/
#main {
    padding: 80px 0;
}

#content {
    width: 65%;
    height: 1050px;
    margin: auto;
    padding: 15px;
    background-color: white;
    border: 2px solid #8f1d1d;
    box-shadow: 0 0 1em #696969;
    margin-top: 30px;
    overflow: auto;
}

#titulo {
    text-align: center;
    font-size: clamp(1em, 1em + 1vw, 1.9em);
    font-family: Arial, Helvetica, sans-serif;
    color: #800000;

}

#text {
    font-size: clamp(1em, 1em + 1vw, 1.3em);
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    color: black;

}

/*rodapé */
footer {
    background-color: black;
    padding: 50px;

}

div.boxz {
    width: 60px;
    display: inline-block;
    cursor: pointer;

}

.left {
    text-align: left;
}

#imagem-footer {
    width: 20%;
}

#text_footer {
    font-family: 'Oswald', sans-serif;
    color: #363636;
    padding: 3px;

}

.menu_footer ul {
    display: flex;
    list-style-type: none;

}

.menu_footer ul li {
    cursor: pointer;
    padding-right: 14px;
}

.menu_footer a {
    text-decoration: none;
    font-size: clamp(1em, 1em + 1vw, 1.3em);
    color: #C0C0C0;
    font-weight: bolder;
}

.menu_footer a:hover {
    text-shadow: 0 0 4px #fff;

}

/*formulário*/

label {
    color: whitesmoke;
    text-align: center;

}

input {
    color: black;


}

#textContato {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(1em, 1em + 1vw, 1em);
    color: #C0C0C0;

}

.forms {
    background-color: #1C1C1C;
    padding: 20px 30px;
    box-shadow: 0 0 2em #C0C0C0;
    text-align: left;

    @media screen and (max-width: 480px) {
        width: 100%;

    }
}

#textAreaMensagem {
    color: black;

}

textarea {
    height: 5em;
}

input,
textarea {
    width: 300px;
    box-sizing: border-box;
}

h2 {
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {
    color: black;
    padding: 10px 10px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #C0C0C0;
    text-shadow: 0 0 4px #fff;
}

.forms {
    display: inline-block;


}


/*destaques da página*/

#destaques {
    max-width: 100%;
}

.bloco {
    width: 250px;
    height: 150px;
    margin: 15px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.bloco #destaques {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.bloco #destaques:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

div.box {
    width: 150px;
    display: inline-block;
}

#autores {
    width: 90%;
    height: 170%;
    border: 2px solid #800000;
    border-radius: 50%;
    cursor: pointer;
}

span {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-size: 16px;
    padding: 3px 8px;
}

.autor {
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#img1 {
    width: 100%;
    border: solid 3px;
    color: #000000;
}

#conteudo {
    font-size: clamp(1em, 1em + 1vw, 1.3em);
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    color: black;
    overflow: auto;

}

.imagem_conteudo {
    display: inline-block;
    vertical-align: top;
}

.texto_principal {
    display: inline-block;
}

/* centralizando formulário */
.center {
    text-align: center;
}
